th  {
    background-color: darkgoldenrod;
    width: 300px;

}

tr {
    background-color: grey;
}

table {
    background-color: #222222;
}

#products {

}

h1 {
    color: midnightblue;
}

body {
    text-align: center;
}