* {
    margin: 0;
    padding: 0;
}
body {
    background: darkolivegreen;
}
.container {
    background-color: #3B94D9;
    width: 80%;
    margin: 0px auto;
    height: 100vh;
    max-width: 1200px;
}
.one-third {
    width: 33.33%;
}
.one-half {
    width: 50%;
}
.row {
    width: 100%;
}
.column {
    float: left;
}
@media screen and (min-width:768px) {}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }

