#box {
    display: flex;
}

body {
    background-image: url("../img/blue_sky_and_green.jpg");
    background-attachment: fixed;
    background-color: #cccccc;
    background-size: 100% 100%;

    text-align: center;
    font-family: Rockwell;
}

#map-canvas {
    margin: 50px auto;
    width: 60%;
    height: 500px;
    /*background-color: gray;*/
    border-radius: 7%;
    border: 3px #479b4f solid;

}

.boxes {
    width: 300px;
    background-image: url("../img/blue_sky.jpg");
    background-size: cover;
    background-color: #cccccc;
    border: 2px #479b4f solid;
    margin: 0px 80px;
    float: left;
}

#search {
    /*float: left;*/
    margin: 15px 80px;
    text-align: left;

}

main {
    color: thistle;
    text-decoration: underline overline;

}